@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nanum+Gothic:wght@400;700;800&display=swap');

html, body, div, header, section, footer, h1, h2, h3, h4, h5, h6, span, p, fieldset, table, tbody, tr, td, address, nav, ul, li, img { margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent; }

body { line-height:1; font-family: 'Nanum Gothic', sans-serif;}

footer,header,nav,section { display:block;}

address { font-style:normal;}

a { text-decoration: none; color: black;}

table { border-collapse: collapse;}

nav, ul { list-style:none;}

hr {  display:block;
  border:0;   
  border-top:1px solid #00c8c1;
  margin:0;
  padding:0;}



/*clear-fix*/ 
.cf:before, .cf:after { content: "";
	display: block; clear:both;} 